//- Start Index
mixin featuresItem(title, number, txt)
    -if (number)
      .features__item.col-1
        h2.features__title= title
        p.features__number= '№' + number
        p.features__text= txt
    -else
      .features__item.col-1
        h3.features__title= title
        p.features__text= txt
//- End Index


//- Start Blog
mixin blogItem(title, txt)
  .blog-item
    h3.blog-item__title= title
    p.blog-item__text= txt
    p.blog-item__tag.blog-item__tag--date #{postDate}
    p.blog-item__tag.blog-item__tag--category #{postTag}
//- End Blog


//- Start Menu
mixin navMenu(menu_items)
  #{navTag}(class=navClasses)
     each top_item in menu_items
        +navLinks(top_item)

mixin navLinks(item)
  -listClassesAdd = {'class': item.liclass }
  li(class=listClasses)&attributes(listClassesAdd)
    -linkAtts = { 'href': item.link, 'class': item.class }
    a(class=linkClasses)&attributes(linkAtts)= item.title
      -if (item.liclass == 'logo--top')
        img(class="main-menu__logo" src="img/logo-sedona@3x" alt="Sedona")


//-
  - var paginationPostList = ["Пред. пост", "Назад к списку", "След. пост"]
  mixin paginationPost
    .pagination--post
      ul.pagination--post__list
        each item in paginationPostList
          li.pagination--post__item: a(href="#", class="pagination--post__link") #{item}
//- End Menu


//- Start Fields
mixin field(args)
  input(
    class='form-' + formName +'__input'
    name=formName
    type=args.type ? args.type : 'text'
    value=args.value ? args.value : null
    placeholder=args.placeholder ? args.placeholder : null
    id=attributes.id ? attributes.id : null
    required=args.required)

mixin textField(args)
  .form__item
    label(
      for=attributes.id
      class='form-' + formName +'__label')!= args.label
    +field(args)(class=attributes.class, id=attributes.id)
      if args.note
        .form-info= args.note

mixin radio(args)
  .form-item
    input(
      class='form-' + formName +'__input'
      type='radio'
      name=args.name
      id=args.id
      value=args.value
      checked=args.checked
      disabled=args.disabled)
    label(
      for=args.id,
      class='form-' + formName +'__label')!= args.label

mixin checkbox(args)
  .form-item
    input(
      class='form-' + formName +'__input'
      type='checkbox'
      name=formName
      id=args.id
      checked=args.checked
      disabled=args.disabled)
    label(
      for=args.id,
      class='form-' + formName +'__label')!= args.label

mixin upload(args)
  input(
    class='form-' + formName +'__input'
    type='file'
    id=attributes.id ? attributes.id : null)
//- End Fields
